# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
vendor/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
config/config.yaml
deploy/config.yaml

# Frontend
web/admin/node_modules/
web/admin/dist/

# Temp
tmp/
